div {
    width: 500px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #8a2be2;
    background-color: rgb( 138, 43, 226);
    background-color: hsl( 271.1, 75.9, 52.7);
}

div.assign-1-shape-2 {
    background-color: rgb( 138, 43, 226, 0.5);
}

div.assign-1-shape-3 {
    background-color: rgb( 138, 43, 226, 0.1);
}
