ul.conatiner {
    width: 400px;
}

.master {
    padding: 5px;
    list-style: none;
    margin-top: 10px;
}

li {
    width: inherit;
    background-color: #eee;
}

ul.bullet li,
ol.decimal li,
ol.romain li {
    background-color: white;
    width: calc(100% - 50px);
    margin-top: 10px;
}

.decimal {
    list-style: decimal;
}

.romain {
    list-style: lower-roman;
}

.bullet {
    list-style-type: circle;
    list-style-position: inside;
}
