p {
    text-align: center;
    font-weight: 500;
}

.one {
    font-size: 60px;
    text-transform: uppercase;
}

.two {
    font-size: 50px;
    text-transform: capitalize;
}

.three {
    font-size: 40px;
}
