.parent {
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px;
}

.parent div {
    display: flex;
    background-color: gray;
    color: white;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one,
.three {
    align-self: flex-end;
    height: 20%;
    width: 10%;
}

.two {
    align-self: flex-start;
    width: 50%;
    height: 20%;
}
